In [1]:
AngkorWat = (13.4125, 103.866667)
print (AngkorWat[0])

13.4125

In [7]:
AngkorWat

(13.4125, 103.866667)

In [20]:
if type(AngkorWat) is str:
    print ("Hello")

In [33]:
print("Angkor Wat is at latitude:{}".format(AngkorWat[0]))

Angkor Wat is at latitude:13.4125

In [34]:
dimension = 1,2,3
type(dimension)

tuple

In [36]:
height, width, depth = dimension
type(height)
#type(width)
#type(depth)

int

In [53]:
class Solution:
    def sortArrayByParity(self, A):
        """
        :type A: List[int]
        :rtype: List[int]
        """
        if len(A) ==0 or len(A) > 5000:
            print("Array exceeds max size")
            return None
        
        ArrayB = []
        for val in A:
            if val <0 or val > 5000:
                print("Bad value in array. Abort the function")
                return None
            
            if val % 2 == 0:
                ArrayB.insert(0, val)
            else:
                ArrayB.append(val)
        return ArrayB

sol = Solution()
array=[1,4,500000,3,2]
print (sol.sortArrayByParity(array))

Bad value in array. Abort the function
None

In [77]:
class Solution:
    def merge(self, nums1, m, nums2, n):
        """
        :type nums1: List[int]
        :type m: int
        :type nums2: List[int]
        :type n: int
        :rtype: void Do not return anything, modify nums1 in-place instead.
        """
        idx1 = 0
        idx2 = 0
        temparray = []
        
        # go through the m elements in nums1 and n elements in nums2 to merge
        while True:
            if nums1[idx1] <= nums2[idx2]:
                temparray.append(nums1[idx1])
                idx1 += 1
            else:
                temparray.append(nums2[idx2])
                idx2 += 1

            #if exceed m elements in nums1 or n elements in nums2, exit the loop
            if idx1 >= m or idx2 >= n:
                break
            else:
                continue

        if idx1 < m:
            for ii in range(idx1,m):
                temparray.append(nums1[ii])
        else:
            for ii in range(idx2, n):
                temparray.append(nums2[ii])
        nums1.clear()
        for elem in temparray:
            nums1.append(elem)

sol = Solution()
nums1=[1,2,3,0,0,0]
nums2=[2,5,6]
sol.merge(nums1, 3, nums2, 3)
print(nums1)

[1, 2, 2, 3, 5, 6]

In [78]:
class Solution:
    def flipAndInvertImage(self, A):
        """
        :type A: List[List[int]]
        :rtype: List[List[int]]
        """
        print(A)
        for llist in A:
            llist.reverse()
            for ii in range(0,len(llist)):
                llist[ii] = llist[ii] ^ 1
        print(A)


sol = Solution()
array=[[1,1,0],[1,0,1],[0,0,0]]
sol.flipAndInvertImage(array)
print(array)

[[1, 1, 0], [1, 0, 1], [0, 0, 0]]
[[1, 0, 0], [0, 1, 0], [1, 1, 1]]
[[1, 0, 0], [0, 1, 0], [1, 1, 1]]

In [89]:
def hours2days(hours):
    days = hours//24
    rhours = hours % 24
    return (days, rhours)
    
if __name__ == "__main__":
    print(hours2days(45))

(1, 21)

In [87]:
def nearest_square(limit):
    """ Find the largest square number smaller than limit. """
    answer = 0
    answer = int(limit ** .5)
    return answer**2

nearest_square(20)

16

In [90]:
egg_count = 0

def buy_eggs():
    egg_count += 12 # purchase a dozen eggs

buy_eggs()

UnboundLocalError: local variable 'egg_count' referenced before assignment

In [93]:
with open("/Users/stevsun/jupyter_space/Data analysis/table_descriptions.txt") as fd:
    document=fd.read(100)
    words = document.split()
    print (words)

['enrollments.csv:', 'Data', 'about', 'a', 'random', 'subset', 'of', 'Data', 'Analyst', 'Nanodegree', 'students', 'who', 'complete', 'their']

In [97]:
cast_list = []

with open("/Users/stevsun/jupyter_space/Data analysis/flying_circus_cast.txt") as fd:
    for line in fd:
        token_list=line.split()
        cast_list.append([token_list[0], token_list[1]])
        
print(cast_list)

[['Graham', 'Chapman,'], ['Eric', 'Idle,'], ['Terry', 'Jones,'], ['Michael', 'Palin,'], ['Terry', 'Gilliam,'], ['John', 'Cleese,'], ['Carol', 'Cleveland,'], ['Ian', 'Davidson,'], ['John', 'Hughman,'], ['The', 'Fred'], ['Connie', 'Booth,'], ['Bob', 'Raymond,'], ['Lyn', 'Ashley,'], ['Rita', 'Davies,'], ['Stanley', 'Mason,'], ['David', 'Ballantyne,'], ['Donna', 'Reading,'], ['Peter', 'Brett,'], ['Maureen', 'Flanagan,'], ['Katya', 'Wyeth,'], ['Frank', 'Lester,'], ['Neil', 'Innes,'], ['Dick', 'Vosburgh,'], ['Sandra', 'Richards,'], ['Julia', 'Breck,'], ['Nicki', 'Howorth,'], ['Jimmy', 'Hill,'], ['Barry', 'Cryer,'], ['Jeannette', 'Wild,'], ['Marjorie', 'Wilde,'], ['Marie', 'Anderson,'], ['Caron', 'Gardner,'], ['Nosher', 'Powell,'], ['Carolae', 'Donoghue,'], ['Vincent', 'Wong,'], ['Helena', 'Clayton,'], ['Nigel', 'Jones,'], ['Roy', 'Gunson,'], ['Daphne', 'Davey,'], ['Stenson', 'Falke,'], ['Alexander', 'Curry,'], ['Frank', 'Williams,'], ['Ralph', 'Wood,'], ['Rosalind', 'Bailey,'], ['Marion', 'Mould,'], ['Sheila', 'Sands,'], ['Richard', 'Baker,'], ['Douglas', 'Adams,'], ['Ewa', 'Aulin,'], ['Reginald', 'Bosanquet,'], ['Barbara', 'Lindley,'], ['Roy', 'Brent,'], ['Jonas', 'Card,'], ['Tony', 'Christopher,'], ['Beulah', 'Hughes,'], ['Peter', 'Kodak,'], ['Lulu,', 'Herself'], ['Jay', 'Neill,'], ['Graham', 'Skidmore,'], ['Ringo', 'Starr,'], ['Fred', 'Tomlinson,'], ['David', 'Hamilton,'], ['Suzy', 'Mandel,'], ['Peter', 'Woods,']]

In [101]:
from datetime import datetime
import pytz

utc = pytz.utc
itc = pytz.timezone("Asia/Kolkata")

udate = datetime.now(utc)
idate = datetime.now(itc)

print (udate)
print (idate)

2018-09-22 00:27:35.917717+00:00
2018-09-22 05:57:35.917771+05:30

In [104]:
def todo_list(new_task, base_list=['wake up']):
    base_list.append(new_task)
    return base_list

#print(todo_list("check the mail"))
print(todo_list("begin orbital transfer"))

['wake up', 'begin orbital transfer']